@tailwind base;
@tailwind components;
@tailwind utilities;

/* navLink custom style */
.active {
    color: #09ad9b;
}


/* primary color for button */
:root {
    --btn: #09ad9b;
    --hoverbtn: #079988;
    --textColor: #ffffff;
}

.button-primary {
    background-color: var(--btn);
    color: var(--textColor);
    border: none;
}

.primary-color {
    color: var(--btn);
    font-weight: 700;
}

.button-primary:hover {
    background-color: var(--hoverbtn);
    cursor: pointer;
}